h1, h2, p, a{
    font-family: sans-serif;
    color: #424B54;
    text-decoration: none;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

p, a {
    font-size: 16px;
}


hr {
    border-top: 1px solid #D9D9D9;
    border-bottom: 0; 
    border-left: 0;
    border-right: 0; 
    height: 0;  
}

.header-logo .circle {
    width: 50px;
    height: 50px;
    background-color: #93A8AC;
    border-radius: 50%; 
    margin-right: 15px;
}

header .circle {
    width: 35px;
    height:35px;
    background-color: #93A8AC;
    border-radius: 50%; 
    margin: 5px; 
}

header {
    display: flex;
    margin: 1vh 3vh;
}

.header-logo, .header-location, .header-search, .header-profile{
    display: flex; 
    align-items: center;
}

.header-logo {
    margin-right: 20vw;
}
.header-location, .header-search, .header-profile{
    margin-left: 4vw;
}

.header-location p {
    padding: 1px;
    margin-left: 15px;
}

.header-search input {
    width: 350px; 
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #D9D9D9;;
    margin-right: 15px;
}

.header-profile {
    position: relative;  
    border: 1px solid #D9D9D9; 
    height: 50px; 
    border-radius: 25px; 
    margin-top: 7px;
    padding-left: 80px; 
    padding-right: 5px; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a, nav p{
    text-decoration: none;
    font-family: sans-serif;
    color: #424B54;
    padding-left: 50px; 
    padding-right: 50px; 
}
nav p {
    color: #D9D9D9;
}

.section-1, .section-2 {
    display: flex;
    align-items: center;
}

.section-1 img, .section-2 img {
    width: 600px;
    height: 300px;
}

.section-2 img {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.section-1 p {
    font-size: 26px;
    margin-left: auto;
    margin-right: 400px;
}
.section-2 p {
    font-size: 26px;
    margin-left: 400px;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: space-between; 
}

.footer-1, .footer-2, .footer-3, .footer-5 {
    display: flex;
    flex-direction: column; /* Stacks the content vertically */
}

.footer-2, .footer-3, .footer-5 {
    margin-left: 8vw;}

.download-image {
    max-width: 200px;
}

@media screen and (max-width: 600px) {
    h1, h2, p {
        font-family: sans-serif;
        color: #424B54;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    p, a {
        font-size: 14px;
    }

    header {
        display: flex;
        margin: 1vh;
    }

    .header-logo .circle {
        width: 0px;
        height: 0px;
        margin: 0;
    }

    header .circle {
        width: 35px;
        height:35px;
        background-color: #93A8AC;
        border-radius: 50%; 
        margin: 5px; 
    }

    .header-search .circle {
        width: 0px;
        height: 0px;
        margin: 0;
    }
    
    .header-logo, .header-location, .header-search, .header-profile{
        display: flex; 
        align-items: center;
    }
    
    .header-logo {
        margin-right: 20vw;
        max-width: 100px;
    }
    .header-location, .header-search, .header-profile{
        margin-left: 0;
    }
    .header-location p {
        visibility: hidden;
        width: 0;
    }
    
    .header-search input {
        width: 270px; 
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #D9D9D9;;
        margin-right: 15px;
        height: 15px;
    }

    .header-profile {
        position: relative;  
        height: 15px;
        border: 0;
        padding-top: 30px;
        padding-right: 50px;
    }    

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav a, nav p{
        text-decoration: none;
        font-family: sans-serif;
        color: #424B54;
        padding-left: 20px; 
        padding-right: 20px; 
        font-size: 12px;
    }
    nav p {
        color: #D9D9D9;
    }
    
    .section-1, .section-2 {
        display: flex;
        align-items: center;
    }
    
    .section-1 img, .section-2 img {
        width: 400px;
        height: 200px;
    }
    
    .section-2 img {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    
    .section-1 p {
        font-size: 16px;
        margin-left: auto;
        margin-right: 60px;
    }
    .section-2 p {
        font-size: 16px;
        margin-left: 60px;
        margin-right: auto;
    }


}



@media screen and (max-width: 900px) and (min-width: 600px) {
    h1, h2, p {
        font-family: sans-serif;
        color: #424B54;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    p, a {
        font-size: 18px;
    }

    header {
        display: flex;
        margin: 1vh;
    }

    .header-logo .circle {
        width: 0px;
        height: 0px;
        margin: 0;
    }

    header .circle {
        width: 35px;
        height:35px;
        background-color: #93A8AC;
        border-radius: 50%; 
        margin: 5px; 
    }

    .header-search .circle {
        width: 0px;
        height: 0px;
        margin: 0;
    }
    
    .header-logo, .header-location, .header-search, .header-profile{
        display: flex; 
        align-items: center;
    }

    .header-profile {
        position: relative;  
        border: 0; 
        height: 50px; 
        border-radius: 25px; 
        margin-top: 23px;
        padding-left: 20px; 
        padding-right: 0px; 
    }
    
    .header-logo {
        margin-right: 20vw;
        max-width: 100px;
    }
    .header-location, .header-search, .header-profile{
        margin-left: 10px;
    }
    .header-location p {
        visibility: hidden;
        width: 0;
    }
    
    .header-search input {
        width: 350px; 
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #D9D9D9;;
        margin-right: 15px;
        height: 15px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    nav a, nav p{
        text-decoration: none;
        font-family: sans-serif;
        color: #424B54;
        padding-left: 20px; 
        padding-right: 20px; 
        font-size: 12px;
    }
    nav p {
        color: #D9D9D9;
    }
    
    .section-1, .section-2 {
        display: flex;
        align-items: center;
    }
    
    .section-1 img, .section-2 img {
        width: 500px;
        height: 200px;
    }
    
    .section-2 img {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    
    .section-1 p {
        font-size: 16px;
        margin-left: auto;
        margin-right: 60px;
    }
    .section-2 p {
        font-size: 16px;
        margin-left: 60px;
        margin-right: auto;
    }
    .download-image {
        max-width: 150px;
    }

}